* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(11, 11, 10);
}
img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/*header section*/
header {
    position: relative;
}
.topbar {
    background-color: rgb(4, 4, 91);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info-block {
    width: calc(100% - 200px);
    display: inline-block;
}
.icon-block {
    width: 200px;
    display: inline-block;
}
.info {
    display: inline-block;
    margin-right: 60px;
}
.icon-block > .icon :last-child {
    margin-right:0;
}
.icon-block > .icon {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.icon-block > .icon:hover {
    color: chocolate;
}

.navbar {
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.100);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navbar > *{
    display: inline-block;
    vertical-align: middle;
}
.navlogo{
    width: 100px;
}
.nav-icon {
    width: 60px;
}
.nav-menu {
    list-style: none;
    width: calc(100% - 160px);
    text-align: center;
}
.nav-menu a:hover{
    color: burlywood;
}
.nav-menu > li {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.nav-menu >li:last-child{
    margin-right: 0;
}
.nav-menu > li > .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: antiquewhite;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.200);
    list-style: none;
    padding: 10px 10px 0 10px;
    min-width: 150px;
}
.nav-menu > li:hover >.sub-menu {
    display: block;
}
.sub-menu > li> a {
    display: block;
    white-space: nowrap;
    padding: 10px 0;
    border-bottom: 1px dotted rgb(179, 175, 175);
}

/* hero section*/
.hero-section {
    background-color: rgb(174, 173, 173);
    background-image: url(img/man2.jpg);
    padding-top: 120px;
    padding-bottom: 100px;
    margin-top: -56;
}